<p id="notice"><%= notice %></p>

<p>
  <b>Cnombre:</b>
  <%= @pelicula.cnombre %>
</p>

<p>
  <b>Cgenero:</b>
  <%= @pelicula.cgenero %>
</p>

<p>
  <b>Cyear:</b>
  <%= @pelicula.cyear %>
</p>

<p>
  <b>Cclasif:</b>
  <%= @pelicula.cclasif %>
</p>

<p>
  <b>Cdirector:</b>
  <%= @pelicula.cdirector %>
</p>

<p>
  <b>Cproductora:</b>
  <%= @pelicula.cproductora %>
</p>

<p>
  <b>Cactor01:</b>
  <%= @pelicula.cactor01 %>
</p>

<p>
  <b>Cactor02:</b>
  <%= @pelicula.cactor02 %>
</p>

<p>
  <b>Cactor03:</b>
  <%= @pelicula.cactor03 %>
</p>

<p>
  <b>Cactor04:</b>
  <%= @pelicula.cactor04 %>
</p>

<p>
  <b>Cactor05:</b>
  <%= @pelicula.cactor05 %>
</p>

<p>
  <b>Cactor06:</b>
  <%= @pelicula.cactor06 %>
</p>

<p>
  <b>Cactor07:</b>
  <%= @pelicula.cactor07 %>
</p>

<p>
  <b>Cactor08:</b>
  <%= @pelicula.cactor08 %>
</p>

<p>
  <b>Cactor09:</b>
  <%= @pelicula.cactor09 %>
</p>

<p>
  <b>Cactor10:</b>
  <%= @pelicula.cactor10 %>
</p>

<p>
  <b>Cubicacion:</b>
  <%= @pelicula.cubicacion %>
</p>

<p>
  <b>Ccaratula:</b>
  <%= @pelicula.ccaratula %>
</p>

<p>
  <b>Csinopcis:</b>
  <%= @pelicula.csinopcis %>
</p>


<%= link_to 'Edit', edit_pelicula_path(@pelicula) %> |
<%= link_to 'Back', peliculas_path %>
