<p id="notice"><%= notice %></p>

<p>
  <b>Cnombre:</b>
  <%= @actore.cNombre %>
</p>

<p>
  <b>Capellido:</b>
  <%= @actore.cApellido %>
</p>

<p>
  <b>Dnacim:</b>
  <%= @actore.dNacim %>
</p>

<p>
  <b>Cpais:</b>
  <%= @actore.cPais %>
</p>

<p>
  <b>Cfoto:</b>
  <%= @actore.cFoto %>
</p>

<p>
  <b>Cweb:</b>
  <%= @actore.cWeb %>
</p>

<p>
  <b>Ctwetter:</b>
  <%= @actore.cTwetter %>
</p>

<p>
  <b>Cfacebook:</b>
  <%= @actore.cFacebook %>
</p>

<p>
  <b>Ssexo:</b>
  <%= @actore.sSexo %>
</p>

<p>
  <b>Ccomenta:</b>
  <%= @actore.cComenta %>
</p>


<%= link_to 'Edit', edit_actore_path(@actore) %> |
<%= link_to 'Back', actores_path %>
